/* .box-kiri, .box-tengah, .box-kanan {
    width: 330px;
    height: auto;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 27px;
    padding-top: 30px;
    padding-right: 15px;
	margin: 20px auto;
	max-width: 500px;
    border-radius: 10px;
    float: left;
} */