* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
.stretch{
	min-height: 270px;
}
header {
	height:70px;
}
header h1 {
	display: inline-block;
	padding-left: 25px;
	text-transform: uppercase;
}
header h1 a {
	color: #08317c;
	transition: .3s;
}
header h1 a:hover {
	color: #F84744;
}
header ul {
	float: right;
}
header ul li {
	padding:24px;
	display: inline-block;
}
header ul li a {
	color: #08317c;
	transition: .3s;
}
header ul li a:hover {
	color: #F84744;
}
a {
	text-decoration: none;
	color: black;
}
.container {
	width:90%;
	margin:0 auto;
}
.header {
	background-color: #5289c4;
	width: 100%;
	margin:0 auto;
	position: fixed;
	z-index: 9999999;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding:18px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width:300px;
	background-color: rgba(16, 47, 80, .9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding:24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #F84744;
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	background-color: #1F68B6;
	padding:150px 0;
}
section {
	padding:50px 0;
}
.banner img {
	width: 100px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span {
	color: #fff;
}
.banner h2 {
	margin-bottom: 10px;
}
.banner p {
	font-size: 18px;
}
.banner-left {
	padding-left:24px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
}
.button-container {
    text-align: center;
    margin-top: -20px;
}
#about p {
	text-align: justify;
	line-height: 25px;
	margin-bottom: 15px;
}
#skills,
#contact {
	background-color: #f9f9f9;
}
#skills .bar {
	height: 30px;
	background-color: #fff;
	border:1px solid #ddd;
	margin: 5px 0 20px 0;
}
.bar .nilai {
	height:30px;
	background-color: #F84744;
	display: inline-block;
	color: #fff;
	text-align: center;
}
#skillss .barr {
	height: 30px;
	background-color: #fff;
	border:1px solid #ddd;
	margin: 5px 0 20px 0;
}
.barr .nilai {
	height:30px;
	background-color: #08317c;
	display: inline-block;
	color: #fff;
	text-align: center;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out
}
.html {
	width:80%;
}
.css {
	width:70%;
}
.cpp {
	width:55%;
}
.mtk {
	width:79%;
}
.bindo {
	width:85%;
}
.binggris {
	width:75%;
}
.col-4 {
	width:25%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img {
	width:100%;
}
.col-4 a:hover img {
	transform: scale(1.2);
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
footer {
	background-color: #333;
	padding:50px;
	text-align: center;
}
footer small {
	color: #fff;
}
html {
	scroll-behavior: smooth;
}

@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-4 {
		width:50%;
	}
	.col-3 {
		width:100%;
	}
}
.box-pendidikan {
    text-align: center;
    color: #4d4d4d;
    margin-top: 100px;
    align-content: center;
}

.box-kiri, .box-tengah, .box-kanan {
    /* width: 330px; */
    height: auto;
	min-height: 380px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 27px;
	margin-bottom: 10px;
	margin-top: 10px;
    /* padding-top: 30px;
    padding-right: 15px; */
    border-radius: 10px;
    /* float: left; */
}

.box-kiri:hover, .box-tengah:hover, .box-kanan:hover {
    background-color: #3b5999;
    color: white;
}

.box-kiri img {
    width: 90px;
}

.box-tengah img {
    width: 90px;
}

.box-kanan img {
    width: 90px;
}
.box-pendidikan h1, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

div.gallery {
	border: 2px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 15px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 8px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

  /* Jika ukuran layar 680px atau kurang dari itu */

@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

.img{
	width:550px;
	max-width:100%
  }

.sosialmedia {
	margin-top: 80px;
}

.respon {
	/* padding: 0 15px; */
	/* float: left; */
  }
  
  @media only screen and (max-width: 700px) {
	.respon {
	  width: 49.99999%;
	  margin: 8px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.respon {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }